<h1>
  Add a new question prompt
</h1>

<hr>

<%= render("theme_templates/validation_failures.html.erb") %>

<form action="/insert_theme_record" method="post">
  <div>
    <label for="story_type">
      Insert new question prompt below
    </label>

    <input type="text" id="story_type" name="story_type" value="<%= @theme.story_type %>">
  </div>

  <button>
    Create question prompt
  </button>
</form>

<hr>

<a href="/themes">
  See list of question prompts
</a>
