<h1>
  Edit theme #<%= @theme.id %>
</h1>

<hr>

<%= render("theme_templates/validation_failures.html.erb") %>

<form action="/update_theme_record/<%= @theme.id %>" method="post">
  <div>
    <label for="story_type">
      Story type
    </label>

    <input type="text" id="story_type" name="story_type" value="<%= @theme.story_type %>">
  </div>

  <button>
    Update theme
  </button>
</form>

<hr>

<a href="/themes">
  Go back
</a>
