  <div>
    <a href="/recent">
      Home
    </a>
  </div>
  
  <div>
    <a href="/stories">
      All stories
    </a>
  </div>
  
  <div>
    <a href="/popular">
      Popular stories
    </a>
  </div>
  
  <div>
    <a href="/new_story_form">
      Add a story
    </a>
  </div>
  
  <div>
    <a href="/new_theme_form">
      Add a question prompt
    </a>
  </div>
  
  <div>
    <a href="/users/sign_out" data-method="delete">
      Sign out
    </a>
  </div>

<h1>
  Add a new like
</h1>

<hr>

<%= render("like_templates/validation_failures.html.erb") %>

<form action="/insert_like_record" method="post">
  <div>
    <label for="story_id">
      Story
    </label>

    <input type="text" id="story_id" name="story_id" value="<%= @like.story_id %>">
  </div>

  <div>
    <label for="fan_id">
      Fan
    </label>

    <input type="text" id="fan_id" name="fan_id" value="<%= @like.fan_id %>">
  </div>

  <button>
    Create like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
